asgiref==3.3.1
boto3==1.17.42
botocore==1.20.43
certifi==2020.12.5
colorama==0.4.3
Django==3.1.7
django-elasticache==1.0.3
django-elasticsearch-dsl==7.2.0
django-redis==4.12.1
django-rest-framework-mongoengine==3.4.1
djangorestframework==3.12.4
djangotoolbox==1.8.0
dnspython==2.1.0
docutils==0.15.2
elasticsearch==7.12.1
elasticsearch-dsl==7.3.0
jmespath==0.10.0
mongoengine==0.23.0
pyasn1==0.4.8
pylibmc==1.2.3
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
redis==3.5.3
rsa==4.7.2
s3transfer==0.3.6
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.4
